body{
	width:100%;
	/*height:450px;*/
	background-color: #374785;
	margin: 0%;
	padding: 0%;
	font-family: 'Roboto Condensed', sans-serif;

	color: white;
}

.hero{
	/*sizing*/
	width:100vw;
	height:auto;
	/* vw and vh stand for the percentage of the viewport width and height
	 100% of the browser width and height.*/

	 /*flexbox stuff*/
	 display: flex;
     justify-content: center;
     align-items: center;
	 /*text styles*/
	 text-align:  center;
	 font-family: 'Londrina Shadow', cursive;

	 /*background styles*/
	 background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg);
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 background-attachment: fixed; 
}
.hero-inner{
	margin-top: 7%;
}
.hero h1{
	font-size: 6em;
	color: white;
	font-family: 'Londrina Shadow', cursive;
	margin-top: 0;

}
.pic{

	width: 230px;
	height: 230px;
	border-radius: 115px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 20px;
	overflow: hidden;
	overflow: hidden;	
}
.pic img{
	height:auto;
	width:230px;
	margin-bottom: 0;

}
/*body*/
.head{
	background-color: #8fc1e3
}

#left{
    width: 25%; 
    height:400px;                                               
    float:left;
    font-size: 1.05em;
    padding-right:1%;
    padding-left:1%;
    padding-bottom: 0;
    background-color:#F76C6C; /*#d2fdff;*/
    overflow: auto;
    color: #24305E;


}
#right{
    width: 73%;
    height:400px;
    display: inline;
    float:right;
    background-color: #24305E;
    font-size: 1.5em;
    overflow: auto;
    color:#F76C6C;
}


.fa {
  margin:10px;	
  padding: 10px;
  font-size: 15px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}
.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
